@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  position: relative;
  width: 100vw;
  overflow: hidden;
  padding-top: 56.25%; 16:9 Aspect Ratio
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  border: none;
}
